body{
  background-color:white;
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: 14px;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  letter-spacing: 1px;
}


a{
  color: #656765;
}

a:hover{
  text-decoration: none;
  color: black;
}

.header_container{
  width: 100%;
  padding: 30px;
  padding-left: 0px;
}

.header_container a{
  color: #656765;
  font-size: 16px;
  margin-right: 40px;
}

.header_container a:hover{
  color: black;
}

.intro{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex:wrap;
  -ms-flex:wrap;
  flex:wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  height: 80vh;
  padding-top: 8rem;
  margin-bottom: 20rem;
}


.iimg{
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.intro img{
  max-width: 80%;
}

.name{
  font-weight: bold;
  -ms-flex-item-align: end;
  align-self: flex-end;
  letter-spacing: 1.5px;
}
.name a{
  color: black;
}

.info{
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.cta_button{
  color: black;
  padding: 12px 18px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #828282;
}
.cta_button:hover{
  background-color: white;
}

.content_text{
  line-height: 1.75;
  letter-spacing: 1.25px;
}

.content_text h2{
  margin-bottom: 5%;
}

h2{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

h3{
  letter-spacing: 1px;
}

.content_img{
  text-align: right;
  vertical-align: middle;
}

.content_img img{
  max-width: 280px;
  max-height: 280px;
}

.content{
  padding-top: 23rem;
  padding-bottom: 15rem;
}


.row{
  max-height: 480px;
}

.textalign_right{
  text-align: right;
}

h3{
  margin-top: 0;
  margin-bottom: 20px;
}

.icon{
  max-width: 30px;
  max-height: 30px;
  margin-right: 25px;
}
/*
.project_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.project_img img{
  max-width: 720px;
  max-height: 480px;
  width: 100%;
  height: 100%;
}

.process_container{
  margin-bottom: 8rem;
  text-align: center;
}

.brief{
  margin-top: 50%;
  margin-bottom:15%;
}

.brief h2{
  font-weight: bold;
}

.process_img{
  text-align: center;
}

.process_img img{
  max-width: 520px;
  max-height: 480px;
}



@media screen and (max-width:992px) {
  .intro{
    margin-bottom: 18rem;
  }
  .content{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .content_img{
    display: none;
  }
}

@media screen and (max-width:600px) {
  .name{
    display: none;
  }
  .info{
    display: none;
  }
  .intro{
    margin-bottom: 8rem;
  }
}

@media screen and (max-width:400px) {
  .project_text{
    text-align: center;
    margin-top: 5%;
  }
  h3{
    font-size: 20px
  }
}

.footer{
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  margin-top: 8rem;
  text-align: center;
  color: gray;
}



@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}



.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  /* outline: none;
  border: 3px solid grey;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color; */
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  /* background-color: #333;
  color: #fff; */
}


/* ---------------------------- */
.color{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.lightgreen{
  width: 100px;
  height: 100px;
  background-color:#FCB185;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.darkergreen{
  width: 100px;
  height: 100px;
  background-color: #FFCF94;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightyellow{
  width: 100px;
  height: 100px;
  background-color: #080808;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.black{
  width: 100px;
  height: 100px;
  background-color: #FFFFFB;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
